<section class="creat-task-section">
  <h1>New Task</h1>

  <%= render 'form' %>
</section>

<section class="tasks-container">
  <h2>Tasks</h2>

  <%= form_tag tasks_path, method: :get, remote: true do |f| %>
    <%= text_field_tag :q, params[:q], placeholder: 'Search', class: 'search' %>
  <% end %>


  <ul class="tasks-list">
    <%= render partial: 'task', collection: @tasks %>
  </ul>
</section>


