#create{
  margin-top:20px;
  background-color: rgb(200, 255, 219);
  padding: 20px;
  height: 400px;
  width: 95%;
}
#task{
  margin-top:20px;
  background-color: rgb(232, 243, 253);
  padding: 20px;
  
}
.right{
  float: right; 
}
.w100 {
  width: 100%;
}