// Place all the styles related to the welcome controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.error-container {
  p {
    margin: 0;
  }
}

.creat-task-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
  }
}

.tasks-container {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .tasks-list {
    width: 100%;
    margin-top: 20px;
    .task-item {
      width: 100%;
      display: flex;
      align-self: flex-start;
      justify-content: space-between;
      .task-title {
        margin: 0;
        font-size: 24px;
      }
      .buttons-container {
        display: flex;
        .btn {
          margin-right: 10px;
        }
        form {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}